<div class="row header">
  <span class="title"> Jeu de cartes</span>
</div>
<div class="row">
  <div class="col-8">
    <div class="row buttons">
      <button type="button" class="btn btn-light create" (click)="getRandomCards()">Tirer une main </button>
    </div>
    <span class="cards-label" *ngIf="unsortedCards.length > 0">Non triée</span>
    <div class="row unsorted">
      <div class=" col-2 card gameCard" *ngFor="let card of unsortedCards;let i = index">
        <div class="card-body">
          <h6 class="card-title">{{card.value}} - {{card.color}}</h6>
        </div>
      </div>
    </div>
    <span class="cards-label" *ngIf="sortedCards.length > 0">Triée</span>
    <div class="row sorted">
      <div class="col-2 card gameCard" *ngFor="let card of sortedCards;let i = index">
        <div class="card-body">
          <h6 class="card-title">{{card.value}} - {{card.color}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-order (emitSortOrder)="updateSortOrder($event)"></app-order>
  </div>
</div>